*{
	font-family: Verdana;
}
.bg-gris {
	background: lightgray;
	border-radius: 5px;
	border: 2px solid gray;
	width: 100%;
	height: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.redondo {
	border-radius: 100%;
	display: inline-block;
}
.azul {
	background-color: aqua;
	width: 100px;
	height: 100px;
	position: absolute;
	opacity: 0.7;
}
.verde {
	background-color: olive;
	width: 100px;
	height: 100px;
	position: relative;
	margin-left: 50px;
	opacity: 0.7;
}
button {
	width: 50%;
	height: 50px;
	text-align: center;
	background-color: gray;
	font-weight: bold;
	border-radius: 10px;
}




